fastapi
uvicorn
python-multipart
pydantic
tensorflow
google-genai
pinecone-client
jinja2
python-dotenv
sentence-transformers
langchain-pinecone
groq
duckduckgo-search
slowapi
langchain-community
langchain
gtts
SpeechRecognition
pydub
numpy
faiss-cpu
Pillow
openai
tavily-python
langchain-openai
langchain-core
